/home/apouch/GoValve-Root-src/docs/build

# ignore common matlab artifacts
*.m~
*.asv
*.mat
*.mdl
*.slx
*.mex*
*.mlappinstall
*.mlpkginstall
*.mltbx
*.mlapp
*.mlproj
*.mldatx
*.mexa64
*.mexmaci64
*.mexw64

# ignore common python artifacts
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info
dist/
build/
*.egg-info/
*.eggs/
*.whl
pip-wheel-metadata/
*.manifest
*.spec
*.log
*.coverage
.coverage.*
.cache
.pytest_cache/
.tox/
.nox/
.mypy_cache/
.pyre/
.pytype/

# ignore log files
*.log


